<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Janamat</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
      .pb-cmnt-container {
          font-family: Lato;
          margin-top: 100px;
      }
  
      .pb-cmnt-textarea {
          background: transparent;
          resize: none;
          padding: 20px;
          height: 130px;
          width: 100%;
          border: 1px solid #F2F2F2;
      }

    .infinite-item,
    .loading {
      margin-bottom: 5px;
      background-color: #1eaedb;
      color: #fff;
      text-align: center;
      padding: 25px 0;
    }

    .loading {
      background-color: #333;
    }

  </style
  </head>
  <body  style="
          background: url('{% static 'img/bg1.jpg' %}');
          background-size: cover;
          background-repeat: no-repeat;
        ">
  
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <header
          style="
            margin: 22px 34px;
            text-align: center;
            font-size: 2em;
            font-weight: bolder;
            position: fixed;
          "
        >
          Blog content
        </header>
        <div class="p-4 pt-5">
          <ul class="list-unstyled components mb-5">
            {% for Chellange in Chellange_list %}
            <li class ><a class="js-scroll-trigger" href="#{{Chellange}}">{{Chellange.ChellangeName}}</a></li>
            {% endfor %}
              
          </ul>
          {% comment %}
          <div class="footer">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="icon-heart" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          {% endcomment %}
        </div>
      </nav>

      <!-- Page Content  -->
      <div
        id="content"
        class="p-4 p-md-5"
       
      >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button
              class="btn btn-dark d-inline-block d-lg-none ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                {% if user.is_authenticated %}
               
                  <li class="nav-item">
                    {% if profileImage == "False" %}
                      <img
                        src="{% static 'img/bg1.jpg' %}"
                        alt="no pic"
                        class="profile"
                      />
                    
                    {% else %}
                      <img
                        src="{{profileImage.url}}"
                        alt=""
                        class="profile"
                      />
                    
                    {% endif %}
                  </li>
                  <li class="nav-item" style="
                      font-size: 15px;
                      padding: 7px;
                      font-weight: bold;
                      color: black;
                      text-align: center;
                  ">
                  {{firstName}}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signoutPage' %}">Sign Out</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'signinPage' %}">SignIn/SignUp</a>
                  </li>
                  {% endif %}

               
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>



<a>Meedle area</a>




  <div class="infinite-container">
    {% for number in numbers %}
    <div class="infinite-item">{{ number }}</div>
    {% endfor %}
  </div>
  <div class="loading" style="display: none;">
    Loading...
  </div>

  {% if numbers.has_next %}
  <a class="infinite-more-link" href="/?page={{ numbers.next_page_number }}">More</a>
  {% endif %}
  






      </div>
    </div>



    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
  <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
  <script src="{% static 'js/infinite.min.js' %}"></script>
  <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>




    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script src="{% static 'js/jqscroll.js' %}"></script>
  </body>
</html>
