<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <title>Sidebar 01</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <style>
      .pb-cmnt-container {
          font-family: Lato;
          margin-top: 100px;
      }
  
      .pb-cmnt-textarea {
          background: transparent;
          resize: none;
          padding: 20px;
          height: 130px;
          width: 100%;
          border: 1px solid #F2F2F2;
      }
  </style
  </head>
  <body>
    <div class="wrapper d-flex align-items-stretch">
      <nav id="sidebar">
        <header
          style="
            margin: 20px 10px;
            text-align: center;
            font-size: 2em;
            font-weight: bolder;
          "
        >
          Blog content
        </header>
        <div class="p-4 pt-5">

                <div class="container">

                    <div class="row infinite-container">
                        <ul class="list-unstyled components mb-5">
                            {% for Chellange in Chellange %}
                            <li class ><a href="?Chellange_id={{Chellange.id}}">{{Chellange.ChellangeName}}</a></li>
                            {% endfor %}           
                        </ul>
                    </div>

                    
                    {% if page_obj.has_next %}
                        <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}"></a>
                    {% endif %}

                </div>


          {% comment %}
          <div class="footer">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              All rights reserved | This template is made with
              <i class="icon-heart" aria-hidden="true"></i> by
              <a href="https://colorlib.com" target="_blank">Colorlib.com</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          {% endcomment %}
        </div>
      </nav>

      <!-- Page Content  -->

      <div
        id="content"
        class="p-4 p-md-5"
        style="
          background: url('{% static 'img/bg1.jpg' %}');
          background-size: cover;
          background-repeat: no-repeat;
        "
      >
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="btn btn-primary">
              <i class="fa fa-bars"></i>
              <span class="sr-only">Toggle Menu</span>
            </button>
            <button
              class="btn btn-dark d-inline-block d-lg-none ml-auto"
              type="button"
              data-toggle="collapse"
              data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home</a>
                </li>
                {% if user.is_authenticated %}
               
                  <li class="nav-item">
                    <img
                      src="{{profileImage.url}}"
                      alt=""
                      class="profile"
                    />
                  </li>
                  <li class="nav-item" style="
                      font-size: 15px;
                      padding: 7px;
                      font-weight: bold;
                      color: black;
                      text-align: center;
                  ">
                  {{firstName}}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'signoutPage' %}">Sign Out</a>
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'signinPage' %}">SignIn/SignUp</a>
                  </li>
                  {% endif %}

               
                <li class="nav-item">
                  <a class="nav-link" href="#">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <h2 class="mb-4">{{selected_Chellange.ChellangeName}}</h2>

        <p>
          {{selected_Chellange.ChellangeDesc}}
        </p>
        
        <div class="container pb-cmnt-container">
          <div class="row">
              <div class="col-md-6 col-md-offset-3">
                  <div class="panel panel-info">
                      <div class="panel-body">
                          <textarea placeholder="Write your comment here!" class="pb-cmnt-textarea"></textarea>
                          <form class="form-inline">
                              <div class="btn-group">
                                  <button class="btn" type="button"><span class="fa fa-picture-o fa-lg"></span></button>
                                  <button class="btn" type="button"><span class="fa fa-video-camera fa-lg"></span></button>
                                  <button class="btn" type="button"><span class="fa fa-microphone fa-lg"></span></button>
                                  <button class="btn" type="button"><span class="fa fa-music fa-lg"></span></button>
                              </div>
                              <button class="btn btn-primary pull-right" type="button">Share</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>


      <div class="container">
            <article class="post">Hello world</article>
            <article class="post">Hello world</article>
            <article class="post">Hello world</article>
            <article class="post">Hello world</article>
       </div>








      </div>
    </div>







    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>


    
  </body>
</html>
