.container{
  display:grid;
  grid-template-rows: 100px 400px 400px 100px;
  grid-template-areas: 
   "hd hd hd hd hd hd hd hd"
   "feat feat feat feat feat feat feat feat"
   "main main main main main main main main"
   "ft ft ft ft ft ft ft ft";
  border: 2px solid yellow;

  }
  .box{
    border: 1px solid red;
    background: #F8FA9D;
    }

  .header{
     grid-area: hd;
  }

  .footer{
    grid-area: ft;
  }
  .feature{
    background-color: salmon;
    grid-area:feat;
  }
  .content{
    background-colo;
    grid-area: main;
  }